@import "../../App.css";

@media (min-width: 60em) {
  .step_three_wrapper {
    width: 24.25rem;
    height: 24.25rem;
  }
  .addons_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1.6rem;
    height: auto;
  }
  .addons_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    margin-top: 0.8rem;
    border: 1px solid var(--light-gray);
    padding: 1rem 1.3rem;
    width: 24.25rem;
    border-radius: 0.5rem;
  }
  .addons_card input {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--light-gray);
    padding: 0.5rem;
    appearance: none;
    border-radius: 0.2rem;
    position: relative;
  }

  .addons_card input:checked {
    background-color: var(--purpulish-blue);
  }
  .addons_card input:checked::before {
    content: "✓";
    color: #ffffff;
    position: relative;
    top: -9px;
    left: -4px;
    font-size: 11px;
    transform: rotate(5deg);
  }

  .addons_info {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 0.5rem;
  }

  .title {
    color: var(--marine-blue);
    font-weight: var(--bold);
    font-size: 14px;
  }
  .details {
    font-size: 13px;
    color: hsl(231, 11%, 63%);
  }
  .price {
    text-align: end;
    color: var(--purpulish-blue);
    font-weight: var(--medium);
    font-size: 13px;
  }

  .pagination {
    width: 120%;
  }
}
