@import "../../App.css";

.home_content {
  flex: 1;
  background-color: hsl(0, 0%, 100%);
}
@media (min-width: 60em) {
  .home_content {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
    width: 52rem;
    height: 33.3rem;
    border-radius: 0.7rem;
    margin: 0 auto;
  }
}
