@import "../../App.css";

.home_content {
  flex: 1;
  background-color: var(--magnolia);
  border-radius: 0.7rem;
  width: auto;
  height: auto;
}
.right_content {
  background-color: hsl(0, 0%, 100%);
  transform: translateY(-98px);
  margin: 1.3rem;
  border-radius: 0.7rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
@media (min-width: 60em) {
  .right_content {
    transform: none;
    margin: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
  }
  .home_content {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
    width: 52rem;
    height: 33.3rem;
    border-radius: 0.7rem;
    margin: 0 auto;
  }
}
