@import "../../App.css";

.pagination_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--medium);
  background-color: var(--white);
  width: 100%;
  height: 15vh;
  padding: 1rem;
}
.pagination_prev_btn {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
  font-weight: var(--medium);
  cursor: pointer;
}
.pagination_prev_btn:hover {
  color: var(--marine-blue);
}
.pagination_next_btn {
  background-color: var(--marine-blue);
  border: none;
  border-radius: 0.2rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  height: 2.5rem;
  width: 6.4rem;
  font-weight: var(--medium);
  margin: 0;
}

.pagination_next_btn:hover {
  background-color: hsl(213, 84%, 29%);
}

.pagination_confirm_btn {
  background-color: var(--purpulish-blue);
  border: none;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  height: 2.5rem;
  width: 6.4rem;
  font-weight: var(--medium);
}

@media (min-width: 60em) {
  .pagination_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.25rem;
    padding: 0;
    height: auto;
    margin-top: 4rem;
    position: static;
  }
  .pagination_prev_btn {
    color: hsl(231, 11%, 63%);
    font-size: 14px;
    cursor: pointer;
    margin-right: auto;
  }
  .pagination_prev_btn:hover {
    color: var(--marine-blue);
  }
  .pagination_next_btn {
    background-color: var(--marine-blue);
    border: none;
    border-radius: 0.5rem;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    height: 2.5rem;
    width: 6.4rem;
    font-weight: var(--medium);
  }

  .pagination_next_btn:hover {
    background-color: hsl(213, 84%, 29%);
  }
  .pagination_confirm_btn {
    background-color: var(--purpulish-blue);
    border: none;
    border-radius: 0.5rem;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    height: 2.5rem;
    width: 6.4rem;
    font-weight: var(--medium);
  }
}
