@import "../../App.css";

.billing_card_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2.5rem;
  flex-direction: column;
}
.billing_card {
  display: inline-block;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid hsl(229, 24%, 87%);
  width: 100%;
  height: auto;
  padding: 0.9rem 0.8rem 0.9rem 0.8rem;
  border-radius: 0.5rem;
}
.billing_card span {
  color: var(--marine-blue);
  font-weight: var(--bold);
  padding: 2.5rem 0 0.1rem 0;
  font-size: 0.9rem;
}

.billing_card img {
  height: 2.2rem;
  width: 2.2rem;
}
.billing_card p {
  padding-top: 0.5rem;
  font-size: 13px;
}
.billing_date_wrapper {
  margin-top: 2.4rem;
  display: flex;
  background-color: var(--magnolia);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 0.2rem;
  padding: 1rem 0;
}
.freebie {
  font-size: 11.5px !important;
  color: var(--marine-blue);
  font-weight: 500;
}

.billing_date_wrapper span {
  font-size: 0.8rem;
  font-weight: var(--bold);
}

.toggle_wrapper {
  background-color: var(--marine-blue);
  border-radius: 3rem;
  width: 2.1rem;
  height: 1.1rem;
  position: relative;
  cursor: pointer;
}
.toggle_btn {
  position: absolute;
  border-radius: 5rem;
  margin-top: 0.21rem;
  margin-left: 0.22rem;
  height: 0.7rem;
  width: 0.7rem;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}

@media (min-width: 60em) {
  .second_step_wrapper {
    width: 24.25rem;
    height: 24.25rem;
  }
  .billing_card_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2.5rem;
    flex-direction: row;
  }
  .billing_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid hsl(229, 24%, 87%);
    width: 7.6rem;
    height: auto;
    padding: 0.9rem 0.8rem 0.9rem 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .billing_card:hover {
    border: 1px solid var(--purpulish-blue);
    background-color: var(--alabaster);
  }
  .billing_card span {
    color: var(--marine-blue);
    font-weight: var(--bold);
    padding: 2.5rem 0 0.1rem 0;
    font-size: 0.9rem;
  }
  .billing_card img {
    height: 2.2rem;
    width: 2.2rem;
  }
  .billing_card p {
    padding-top: 0.5rem;
    font-size: 13px;
  }
  .billing_date_wrapper {
    margin-top: 2.4rem;
    display: flex;
    background-color: var(--magnolia);
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 0.2rem;
    padding: 0.6rem 0;
  }
  .freebie {
    font-size: 11.5px !important;
    color: var(--marine-blue);
    font-weight: 500;
  }

  .billing_date_wrapper span {
    font-size: 0.8rem;
    font-weight: var(--bold);
  }

  .toggle_wrapper {
    background-color: var(--marine-blue);
    border-radius: 3rem;
    width: 2.1rem;
    height: 1.1rem;
    position: relative;
    cursor: pointer;
  }
  .toggle_btn {
    position: absolute;
    border-radius: 5rem;
    margin-top: 0.21rem;
    margin-left: 0.22rem;
    height: 0.7rem;
    width: 0.7rem;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
  }
}
