/* Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); /* Regular 400, Bold 700, Medium 500*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  /* Primary  */
  --MarineBlue:hsl(213, 96%, 18%);
  --PurpulishBlue:hsl(243, 100%, 62%);
  --PastelBlue:hsl(228, 100%, 84%);
  --LightBlue: hsl(206, 94%, 87%);
  --StrawberryBlue: hsl(354, 84%, 57%)

  /* Neutral */
  --CoolGray: hsl(231, 11%, 63%)
  --LightGray: hsl(229, 24%, 87%)
  --Magnolia: hsl(217, 100%, 97%)
  --Alabaster: hsl(231, 100%, 99%)
  --White: hsl(0, 0%, 100%)

  /* Font Weights */
  --Regular: 400;
  --Medium: 500;
  --Bold: 700;
}
p {
  font-size: 16px;
}
h1 {
  font-size: 28px;
}

.App {
  height: 100vh;
}